In [1]:
import pandas as pd
from IPython.display import VimeoVideo

house_0_list type: <class 'list'>
house_0_list length: 3

[115910.26, 128, 4]

In [2]:
# Load CSV files into DataFrames
df1 = pd.read_csv("data/mexico-real-estate-1.csv")
df2 = pd.read_csv("data/mexico-real-estate-2.csv")
df3 = pd.read_csv("data/mexico-real-estate-3.csv")

# Print object type and shape for DataFrames
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
print()
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
print()
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)

house_0_price_m2 type: <class 'float'>

905.54890625

In [3]:
# Print df1 shape
df1.shape

# Print df1 info
df1.info()

# Get output of df1 head
#head.df1()

house_0_list type: <class 'list'>
house_0_list length: 4

[115910.26, 128, 4, 905.54890625]

In [4]:
# Drop null values from df1
df1.dropna(inplace=True)

# Clean "price_usd" column in df1
df1["price_usd"] = df1["price_usd"].str.replace("$", "", regex=False).str.replace(",", "").astype(float).head()

houses_nested_list type: <class 'list'>
houses_nested_list length: 5

[[115910.26, 128.0, 4.0],
 [48718.17, 210.0, 3.0],
 [28977.56, 58.0, 2.0],
 [36932.27, 79.0, 3.0],
 [83903.51, 111.0, 3.0]]

In [5]:
df1.head()

houses_nested_list type: <class 'list'>
houses_nested_list length: 5

[[115910.26, 128.0, 4.0, 905.54890625],
 [48718.17, 210.0, 3.0, 231.9912857142857],
 [28977.56, 58.0, 2.0, 499.61310344827587],
 [36932.27, 79.0, 3.0, 467.4970886075949],
 [83903.51, 111.0, 3.0, 755.8874774774774]]

In [6]:
# Drop null values from df2
df2.dropna(inplace = True)

# Create "price_usd" column for df2 (19 pesos to the dollar in 2014)
df2["price_usd"] = (df2.price_mxn / 19).round(2)

# Drop "price_mxn" column from df2
df2.drop(columns=["price_mxn"], inplace = True)

# Print object type, shape, and head
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
df2.head()

house_0_dict type: <class 'dict'>

{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4}

In [7]:
# Drop null values from df3
df3.dropna(inplace = True)

# Create "lat" and "lon" columns for df3
df3[["lat", "lon"]] = df3["lat-lon"].str.split(",", expand = True)

# Print object type, shape, and head
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)
df3.head()

{'price_approx_usd': 115910.26,
 'surface_covered_in_m2': 128,
 'rooms': 4,
 'price_per_m2': 905.54890625}

In [8]:
# Create "state" column for df3
df3["state"] = df3["place_with_parent_names"].str.split("|", expand=True) [2]

# Drop "place_with_parent_names" and "lat-lon" from df3
df3.drop(columns=["place_with_parent_names", "lat-lon"], inplace=True)

# Print object type, shape, and head
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)
df3.head()

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_approx_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_approx_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_approx_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_approx_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [9]:
# Concatenate df1, df2, and df3
df = pd.concat([df1, df2, df3])
print(df.shape)
df.head()

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_approx_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_approx_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_approx_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_approx_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [10]:
# Save df
df.to_csv("data/mexico-real-estate-clean.csv", index=False)

mean_house_price type: <class 'float'>

62888.35399999999